@tailwind base;
@tailwind components;
@tailwind utilities;


:root { color-scheme: light; }

html, body { height: 100%; }

body {
  background: #f7f7f8;
}

@media (prefers-color-scheme: dark) {
  :root { color-scheme: dark; }
  body { background: #0b0b0f; }
}
